<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
	<a class="navbar-brand" href="#">
		<img src="assets/img/elements/signs/sign-logo.png" alt="luv2shop" class="nav-logo img-responsive">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#kylie" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					KYLIE SKIN
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">tonic</a>
					<a class="dropdown-item" href="#">peeling</a>
					<a class="dropdown-item" href="#">serum</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#aloe" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					ALOE LINE
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">tonic</a>
					<a class="dropdown-item" href="#">peeling</a>
					<a class="dropdown-item" href="#">serum</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#mist" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					MIST
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">tonic</a>
					<a class="dropdown-item" href="#">peeling</a>
					<a class="dropdown-item" href="#">serum</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#accessories" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					ACCESSORIES
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">tonic</a>
					<a class="dropdown-item" href="#">peeling</a>
					<a class="dropdown-item" href="#">serum</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="navbar-icons bp-md">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa fa-search" aria-hidden="true"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa fa-user" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>