<footer class="footer">
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="single-column">
				<h2 class="title">Kontakt</h2>
				<p class="galmeo">GALMEO sp. z.o.o.</p>
				<ul class="contact-list">
					<li>
						<div class="footer-contact-content">
							<div class="footer-icon">
								<i class="fas fa-map-marker"></i>
							</div>
							<div class="footer-address">
								<p>plac Jana Matejki 5/17</p>
								<p>31-157 Kraków, PL</p>
							</div>
						</div>
					</li>
					<li>
						<div class="footer-contact-content">
							<div class="footer-icon">
								<i class="fas fa-phone"></i>
							</div>
							<div class="footer-address">
								<p>+ 48 500 500 500</p>
							</div>
						</div>
					</li>
					<li>
						<div class="footer-contact-content">
							<div class="footer-icon">
								<i class="fas fa-envelope"></i>
							</div>
							<div class="footer-address">
								<p>office@pheym.com</p>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="footer-info-single">
				<h2 class="title">W czym możemy Ci pomóc?</h2>
				<ul class="list-unstyled">
					<li>
						<a href="#" title="">O nas</a>
					</li>
					<li>
						<a href="#" title="">Nasz sklep</a>
					</li>
					<li>
						<a href="#" title="">Media</a>
					</li>
					<li>
						<a href="#" title="">Kariera</a>
					</li>
					<li>
						<a href="#" title="">FAQ</a>
					</li>
					<li>
						<a href="#" title="">Dostawy</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="about">
				<div class="content">
					<form>
						<h2>Dołącz do nas!</h2>
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Enter your email">
							<span class="input-group-btn">
								<button class="btn btn-pink" type="submit">Subskrybuj</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class=" col-lg-6">
			<div class="footer-info-single">
				<h2 class="title security">Ochrona i prywatność</h2>
				<ul class="list-unstyled">
					<li>
						<a href="#" title="">Terms Of Use</a>
					</li>
					<li>
						<a href="#" title="">Privacy Policy</a>
					</li>
					<li>
						<a href="#" title="">Return / Refund Policy</a>
					</li>
					<li>
						<a href="#" title="">Store Locations</a>
					</li>
				</ul>
			</div>
		</div>
		<div class=" col-lg-6">
			<div class="about">
				<img src="assets/img/elements/signs/sign-logo.png" alt="luv2shop" class="nav-logo img-responsive">
				<div class="social-media">
					<ul class="list-inline">
						<li>
							<a href="http://www.facebook.com/" title=""><i class="fab fa-facebook"></i></a>
						</li>
						<li>
							<a href="http://www.twitter.com/" title=""><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="http://www.instagram.com/" title=""><i class="fab fa-instagram"></i></a>
						</li>
					</ul>
				</div>
				<p>Copyright © 2021</p>
			</div>
		</div>
	</div>
</footer>